<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <%= image_tag @look.image.url(:large) %>
      <p>
        <%= @look.description %>
      </p>
      <p>
        <%= @look.user.first_name %> <%= @look.user.last_name %>
      </p>
      <% if current_user == @look.user %>
        <%= link_to 'Edit', edit_look_path(@look) %> | 
      <% end %>
      <%= link_to 'Back', looks_path %>
    </div>
  </div>
</div>